

html::before {
 
}

h1 {
  font-size: 150px;
  margin-top: 200px;
  padding: 0px;
  color: #172815;
  
}

p {
  margin-bottom: 100px;
  margin-top: -100px;
  padding: 0px;
  color: #172815;
  opacity: 1;
}
body {
  background: black;
}

.content {
  gap: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : white;
  text-align: center;
  font-family: inter-24pt, sans-serif;
  font-weight: 400;
  opacity: 0.6;
  font-style: normal;
}

 button { 
  border: 0px ;
  background-color: #3e5622;
  padding: 10px;
  color: black;
  opacity: 0.6;
  width: 100px;
  border-width: 1px;
  border-color: white;
  transition: opacity , transform 0.5s;
 
}

button:hover {
  opacity: 1;
  transform: scale(1.1);
}